@import "home", "config", "navigation", "switch", "queries";

:root {
  color-scheme: light dark; /* both supported */
  accent-color: var(--primary-color);
}

html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-display: swap;
  font-size: 100%;
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: .5s ease-in-out;
}

main {
  height: 100vh;
  width: auto;
  background: linear-gradient(var(--gradient));
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: var(--primary-color);
  }
}
footer {
  padding: 1em;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.9em;
  text-align: center;
  p {
    margin: 0;
  }

  .social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    a {
      color: var(--primary-color);
    }

    li {
      padding: 0 0.9em;
    }
  }
}
